#text {
  margin-top: 18px;
  text-align: justify;
}

.modal, .modal input, .modal textarea{
  background-color:rgb(255, 255, 255) !important;
}

.log {
  background-color: #fff4ea !important;
}

/* .card {
  border: 1px solid rgb(127, 198, 233)
} */

.selection-form{
  padding: 5px;
  border: 1px solid rgb(214, 128, 71);
  background-color:  rgb(233, 233, 233);
}

.selection-form h5{
  color: rgb(214, 128, 71);
}

.selection-form p{
  font-style: italic;
  background-color: rgb(233, 233, 233); 
}

.postlist-title{
  font-weight: bold;
  margin-bottom: -10px;
}

.card-title{
    background-color: rgb(237, 215, 194);
    padding: 2px 5px;
    font-size: 1em !important;
}

.post-list-citation {
  background-color: rgb(233, 233, 233);
  font-style: italic;
}

.delete-icon {
  position: absolute !important;
  top: 0;
  right: 0;
  cursor: pointer;
  color: rgb(187, 187, 187);
  padding: 5px;
  font-size: 1.2em;
}

.delete-icon:hover {
  color: rgb(34, 34, 34);
}


.post-detail h3{
  font-size: 1.7em;
  font-style: bold;
  color: rgb(214, 128, 71);
}

.post-detail p {
  border: 1px dashed rgb(164, 164, 164);
  font-style: italic;
  padding: 10px;
}

/**** Fonts ****/
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/**** Modifications générales ****/
body{
  background: #FFF4EA;
  font-family: 'Quicksand', sans-serif;
}
::-moz-selection {
  color: #fff;
  background: rgb(214, 128, 71);
}
::selection {
  color: #fff;
  background: rgb(214, 128, 71);
}
.highligth{
  color: #fff;
  background: rgb(214, 128, 71);
}
/**** Modifications particulières ****/
/* navbar */
nav ,.nav-wrapper{
  background:#181B24 !important;
}
.brand-logo{
  color: #A25E30 !important;
}
.nav-quote{
  transition: height 1s;
  position: sticky;
}
.quote-nav-text{
  padding: 10px 10px !important;
}
.quote-text{
color: rgb(231, 231, 231);
font-style: italic;
}
.quote-icons{
  color: rgb(235, 162, 113);
}
.quote-close-icons{
  cursor: pointer;
}
/* Transitions */
.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .fade-leave.fade-leave-active{
    opacity:0;
    transition:  opacity 500ms ease-out;
  }